{% extends "patrimonio/base.html" %}

<!-- {% load widget_tweaks %} -->

{% block title %}Atualiza Patrimonio{% endblock %}

{% block conteudo %}
<div>
    <div>
    <div>
        <div>
        <div>
            <h5>Atualizacao de Patrimônio</h5>
            <p>
            Altere o necessario e clique no botão "Atualizar"
            </p>
            <form method="post">
            
                {% csrf_token %}

                <!-- Nome do patrimonio -->
                <div>
                    <div>
                    <span>Nome objeto</span>
                    </div>
                    {% render_field form.nome_objeto class+="form-control" %}
                </div>

                <!-- Etiqueta -->
                <div>
                    <div>
                    <span>Etiqueta</span>
                    </div>
                    {% render_field form.etiqueta class+="form-control" %}
                </div>

                <!-- Usuario -->
                <div>
                    <div>
                    <span>Usuario</span>
                    </div>
                    {% render_field form.usuario class+="form-control" %}
                </div>

                <!-- Setor -->
                <div>
                    <div>
                    <span>Setor</span>
                    </div>
                    {% render_field form.setor class+="form-control" %}
                </div>

                <!-- Valor -->
                <div>
                    <div>
                    <span>Valor</span>
                    </div>
                    {% render_field form.valor class+="form-control" %}
                </div>

                <!-- dt_cadastro -->
                <div>
                    <div>
                    <span>Data Cadastro</span>
                    </div>
                    {% render_field form.dt_cadastro class+="form-control" %}
                </div>

                <!-- Observação -->
                <div>
                    <div>
                    <span>Observação</span>
                    </div>
                    {% render_field form.observacao class+="form-control" %}
                </div>
                <hr>
                <div class="text-right">
                    <a href="{% url 'patrimonio:listagem' %}">Voltar</a>
                    <button>Enviar</button>
                </div>
            </form>
        </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}

