

body{
  /*  background-color: rgba(227, 108, 108, 0.678);   */
  background-image: radial-gradient(circle, white 20%, rgba(72, 72, 61, 0.543) 80%);  


}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(60, 32, 218);
    text-align: center;
}   

h1 {
    text-align: center;
    font-family: cursive;
    font: size 4px;
    color: brown;
    
}

#botao-index {
    text-align: center;
    
}